
h1 {
    font-size: 2rem;
    color: #db2424;
    margin-bottom: 0;   
}

h2 {
    font-size: 1.5rem;
    color: #db2424;
    margin-bottom: 0;   
}

p {
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 0;   
}   

